/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    height: 100vh;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  #content {
    display: grid;
    grid-template-columns: repeat(1fr, calc(100% / 6));
    grid-template-rows: repeat(1fr, calc(100% / 1));
    height: 100%;
  }

  #sidebar {
    grid-area: 1 / 1 / 2 / 2;
    background-color: aqua;
  }

  #main-area {
    grid-area: 1 / 2 / 2 / 7;
    height: 100%;
    background-color: chartreuse;
  }

  #priority-fieldset {
    display: none;
  }
